// Global variables to easily customize without styling
$primary-color: #ffffff;
$secondary-color: #000000;
$content-spacing: 20%;
$content-spacing-sm: 2%;

// Global Link color
$link-color: #fff;
$link-color-hover: darken($link-color, 10%);

// Page Header
$pageheader-background-color: #fff;
$pageheader-text-shadow: 2px 2px 10px #444444;